*.class
*.log

# wave
*.vcd

# cland
.cache/
compile_commands.json

# vscode
.vscode/

# c/cpp
*.o
*.d
*.a
*.so
*.out
*.bin
tags

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
